<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:eds="http://www.sitecore.net/xmlconfig/eds/" xmlns:exmEnabled="http://www.sitecore.net/xmlconfig/exmEnabled/">

  <sitecore exmEnabled:require="yes" role:require="(Standalone or ContentManagement) and !DedicatedDispatch">
    <services>
      <configurator type="Sitecore.Support.EmailCampaign.Server.DependencyInjection.CustomServiceConfigurator, Sitecore.Support.211435"
                 patch:after="configurator[@type='Sitecore.EmailCampaign.Server.DependencyInjection.CustomServiceConfigurator, Sitecore.EmailCampaign.Server']" />
    </services>
    <api>
      <services>
        <configuration>
          <allowedControllers hint="list:AddController">
            <allowedController desc="AddLanguageController">Sitecore.Support.EmailCampaign.Server.Controllers.Language.SupportAddLanguageController, Sitecore.Support.211435</allowedController>
          </allowedControllers>
        </configuration>
      </services>
    </api>
  </sitecore>
</configuration>